<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--INICIO - Modificado por panel de control para la redireccion de dominios - NO Borrar!!-->
        <remove name="dinamogestion.com.ar" />
        <rule name="dinamogestion.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www.)?dinamogestion.com.ar(.*)" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de dominios-->
      </rules>
    </rewrite>
    
    <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore processPath="dotnet" arguments="app\v0.0.1\AdvanceLoadBalancer.dll" stdoutLogEnabled="true" stdoutLogFile="logs\v0.0.1\stdout" hostingModel="inprocess">

  <handlerSettings>
    <handlerSetting name="debugFile" value="logs\v0.0.1\aspnetcore-debug.log" />
    <handlerSetting name="debugLevel" value="FILE,TRACE" />
  </handlerSettings>

   </aspNetCore>
  
  </system.webServer>


</configuration>